.profile-card {
  width: 250px;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin: 20px auto;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-name {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.profile-info {
  font-size: 14px;
  color: #666;
}
